p {
  
  color: black;
}

body {
  background-color: lightgray;
}

h1 {
  font-size: 24px;
}

.text {
  color: green;
}

a {
    background-image: url("https://www.transparentpng.com/thumb/click-here-button/A62YU7-click-here-button-free-download-transparent.png");
    display: block;
    height:100px;
    width:32px;
  }

  
